page-home {

}

page-home .main-element {
	background: #1b1a26;
}

page-home .partialBooks{
	
}

page-home .testimate-check {
	margin-right: 0px !important;
}

page-home .testimate {
	font-size: 1.8em;
}

page-home .testimate-bttn {
	font-size: 1.6rem;
}

page-home .button-large-md {
	font-size: 1.4 rem;
}

page-home .section-card .button-large-md {
	font-size: 1.4rem;
}